<!-- template for adding an Event on the overview screen -->
<div class="card">
	<div class="item item-divider">
	Event Name
	</div>
	<label class="item item-input item-floating-label" >
		<span class="input-label"></span>
		<input type="text" name="calendarEvent.name" ng-model="calendarEvent.name" placeholder="Running">
	</label>
	<div class="item item-divider">
	Date of the Event
</div>
<label class = "item item-input">
<input type="date" name = "date" ng-model="calendarEvent.date"></input>
</label>
<div class="item item-divider">
Hour
</div>
<label class="item item range range-positive">
	<div class="item range range-positive">
	<i class="icon ion-ios-sunny-outline"></i>
	<input  type="range" name="hour" min="1" max="12" value="{{calendarEvent.hour}}" step="1" ng-model="calendarEvent.hour" ng-init="calendarEvent.hour=''	">
	<i class="ion-ios-moon-outline"></i>
</div>
</label>
<span> A.M. </span>
<label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="calendarEvent.meridian" ng-init="meridian='false'">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
<span> P.M. </span>
<div class="item item-divider">
Hour: {{calendarEvent.hour}}
</div>
<label class="item item-input item-select" >
    <div class="input-label">
      Type:
    </div>
    <select ng-model ="calendarEvent.share" name="shareWithSelect" ng-init="calendarEvent.share ='choose'">
			<option value="choose" disabled selected>Choose</option>
      <option value="public">Public</option>
      <option value="invite">Invite</option>
      <option value="private">Private</option>
    </select>
  </label>
</div>
