<ion-modal-view>
	<!--Two tabs, login and Sign up.
Need to implement a controller on this  -->
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content>
		<span></span>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-floating-label" >
          <span class="input-label"></span>
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"></span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive button-outline" type="submit">Log in</button>
		</form>
		<form ng-submit="doLoginFacebook()">
					<button class="button button-block button-positive" type="submit">Log in with Facebook</button>
				</form>
        </label>
      </div>

  </ion-content>
</ion-modal-view>
