<ion-view name="overview">

<ion-header-bar align-title='center' class=" item-bar bar-positive">
		<h1 class="title">Overview</h1>
		<a class="item-icon-right" href="#/overview" ng-model="binView" on-tap="toggleBinView()">
			<i ng-class="{'button icon ion-ios-trash-outline icon-dark':!binView,'button icon ion-backspace-outline icon-dark':binView}">
			</i>
	</a>
</ion-header-bar>
<ion-header-bar class="bar-subheader">
		<div class="button-bar">
			<a class="button">Overview</a>
			<a class="button" on-tap = "gotoDayView()">Day View</a>
			<a class="button" on-tap = "gotoWeekView()">Week View</a>
		</div>

</ion-header-bar>

<ion-content class="has-header">

	<div class="list card">

		<div class="card">
			<div class="item item-divider item-left">
				Friends
			</div>
			<div class="button-bar">
			  <a class="button button-energized icon-left ion-person-add" on-tap = "addFriendPopup()">Add</a>
			  <a class="button button-calm icon-left ion-ios-people" on-tap = "showFriendsPopup()"> Yours</a>
			  <a class="button button-assertive icon-left ion-person-stalker">Free</a>
			</div>
	</div>


		<div class = "card" ng-model="calendarEvents" ng-repeat = "calendarEvent in calendarEvents| orderBy: 'date'">
			<!--Card title is name of the event-->
			<div class="item item-divider item-left">
				{{calendarEvent.name}}
				<a class="item-icon-right button" on-tap="removeEvent($index)" ng-show="binView">
					<i class="icon button-icon ion-ios-trash" >
					</i>
				</a>
			</div>

			<!-- BODY OF THE CARD -->

			<div class="item item-body"
			<!-- TODO: change using only date (when finished preprocessing part)-->
			{{calendarEvent.date|date}} at {{calendarEvent.date| date:'h a'}}
			<!-- TODO: show map -->
			<p>
			<a class="item item-icon-right" href="#/overview">
    	<i class="icon ion-ios-location"></i>
			Location: "{{calendarEvent.location}}"
  		</a>
		</p>
			Share status: {{calendarEvent.share}}
			<p ng-show ="calendarEvent.share === 'invite'">{{calendarEvent.friends}}</p>
		</div>
		</div>
	</div>



</ion-content>
	<div class="float-add-event-button" >
 <span class="height-fix">
    <a class="content">
      <button class="ion-plus-round button button-icon icon button-positive" ng-click="showAddEventPopup()"> </button>
    </a>
   </span>
</div>
</ion-view>
