/* Empty. Add your own CSS if you like */
.float-add-event-button {

background-color:#303f9f;
opacity: 0.9;
color: white;
border-radius: 50%;
/*border-radius:15% 0 0 0;*/
width: 30px;
padding: 25px;
font-size: 40px;
position: fixed;
bottom: 5%; /* Adjust height */
right: 5%; /* Adjust position */
z-index: 1000;
}


.float-add-event-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -22px;
  color: white;
}

.float-event {
	position: fixed;
		z-index: 1000;
}

.col{

}
.timetable{
	background: linear-gradient(to left,#6577FF,#FFA27F);
	height:40px;
}



.newEventSlide{
	background-color: #B2473F;
}
